body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eee;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    max-width: 400px;
}

.btn,
#downloadLink {
    display: block;
    margin: 15px auto;
    padding: 15px 0px;
}

.btn,
#downloadLink {
    background-color: #6200ea;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

input#file-upload[type="file"] {
    display: none;
}

.btn:hover,
#downloadLink:hover {
    background-color: #3700b3;
}

#downloadLink.disabled {
    cursor: not-allowed;
    background-color: rgb(87, 87, 87);
}

#downloadLink.disabled:hover {
    cursor: not-allowed;
    background-color: grey;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: gray;
}

footer a {
    color: #3700b3;
    text-decoration: none;
}

footer a:hover,
footer a:visited {
    color: #3700b3;
    text-decoration: underline;
}
